In [278]:
students = {
    'maulik' : 'mu',
    'aman' : 'NPGU',
    'abhay' : 'NPGU',
    'mazahir' : 'AU',
    'imadul' : 'IU'
}

In [279]:
students['imadul']

'IU'

In [280]:
students = {
    'maulik' : {
        'college':'MU',
        'type':'offline'
    },
    'aman' : 'NPGU',
    'abhay' : 'NPGU',
    'mazahir' :{
        'college':'AU',
        'type':'offline'
    },
    'imadul' : {
        'college':'IU',
        'type':'offline'
    }
}

In [281]:
students['imadul']

{'college': 'IU', 'type': 'offline'}

In [282]:
from pprint import pp       #pretty print

In [283]:
pp (students)

{'maulik': {'college': 'MU', 'type': 'offline'},
 'aman': 'NPGU',
 'abhay': 'NPGU',
 'mazahir': {'college': 'AU', 'type': 'offline'},
 'imadul': {'college': 'IU', 'type': 'offline'}}

In [284]:
students['imadul']['type']

'offline'

In [285]:
#add students 
students['shreya']={
    'college':'BBDU',
    'type':'online'
}

In [286]:
pp (students)

{'maulik': {'college': 'MU', 'type': 'offline'},
 'aman': 'NPGU',
 'abhay': 'NPGU',
 'mazahir': {'college': 'AU', 'type': 'offline'},
 'imadul': {'college': 'IU', 'type': 'offline'},
 'shreya': {'college': 'BBDU', 'type': 'online'}}

In [287]:
students['mazahir']['type']='flexi'
pp (students)

{'maulik': {'college': 'MU', 'type': 'offline'},
 'aman': 'NPGU',
 'abhay': 'NPGU',
 'mazahir': {'college': 'AU', 'type': 'flexi'},
 'imadul': {'college': 'IU', 'type': 'offline'},
 'shreya': {'college': 'BBDU', 'type': 'online'}}

In [288]:
students.pop('aman')
pp(students)

{'maulik': {'college': 'MU', 'type': 'offline'},
 'abhay': 'NPGU',
 'mazahir': {'college': 'AU', 'type': 'flexi'},
 'imadul': {'college': 'IU', 'type': 'offline'},
 'shreya': {'college': 'BBDU', 'type': 'online'}}

In [289]:
students['imadul']['age']='21'
pp(students)

{'maulik': {'college': 'MU', 'type': 'offline'},
 'abhay': 'NPGU',
 'mazahir': {'college': 'AU', 'type': 'flexi'},
 'imadul': {'college': 'IU', 'type': 'offline', 'age': '21'},
 'shreya': {'college': 'BBDU', 'type': 'online'}}

In [290]:
report = {
    'class10':{
        'rohan':{
            'english':90,
            'maths': 56,
            'hindi':85,
            'science':95,
            'social':89,
            'p.e':90,
        },
        'mohit':{
            'english':50,
            'maths':55,
            'hindi':45,
            'science':55,
            'social':55,
            'p.e':78,
        },
        'shreya':{
            'english':90,
            'maths': 56,
            'hindi':55,
            'science':45,
            'social':79,
            'p.e':67,

        },
        'mazahir':{
            'english':99,
            'maths': 96,
            'hindi':75,
            'science':75,
            'social':89,
            'p.e':70,
        },
        'imadul':{
            'english':90,
            'maths': 56,
            'hindi':85,
            'science':95,
            'social':89,
            'p.e':90,
        },
        'yesh tiwari':{
            'english':78,
            'maths': 46,
            'hindi':89,
            'science':55,
            'social':79,
            'p.e':80,
        }
    }
}

In [291]:
pp(report)

{'class10': {'rohan': {'english': 90,
                       'maths': 56,
                       'hindi': 85,
                       'science': 95,
                       'social': 89,
                       'p.e': 90},
             'mohit': {'english': 50,
                       'maths': 55,
                       'hindi': 45,
                       'science': 55,
                       'social': 55,
                       'p.e': 78},
             'shreya': {'english': 90,
                        'maths': 56,
                        'hindi': 55,
                        'science': 45,
                        'social': 79,
                        'p.e': 67},
             'mazahir': {'english': 99,
                         'maths': 96,
                         'hindi': 75,
                         'science': 75,
                         'social': 89,
                         'p.e': 70},
             'imadul': {'english': 90,
                        'maths': 56,
                        'hindi': 85,
                        'science': 95,
                        'social': 89,
                        'p.e': 90},
             'yesh tiwari': {'english': 78,
                             'maths': 46,
                             'hindi': 89,
                             'science': 55,
                             'social': 79,
                             'p.e': 80}}}

In [292]:
print(report.keys())

dict_keys(['class10'])

In [293]:
report['class10'].keys()

dict_keys(['rohan', 'mohit', 'shreya', 'mazahir', 'imadul', 'yesh tiwari'])

In [294]:
report['class10']['imadul'].keys()

dict_keys(['english', 'maths', 'hindi', 'science', 'social', 'p.e'])

In [295]:
report['class10']['imadul']['maths']

56

In [296]:
report.values()

dict_values([{'rohan': {'english': 90, 'maths': 56, 'hindi': 85, 'science': 95, 'social': 89, 'p.e': 90}, 'mohit': {'english': 50, 'maths': 55, 'hindi': 45, 'science': 55, 'social': 55, 'p.e': 78}, 'shreya': {'english': 90, 'maths': 56, 'hindi': 55, 'science': 45, 'social': 79, 'p.e': 67}, 'mazahir': {'english': 99, 'maths': 96, 'hindi': 75, 'science': 75, 'social': 89, 'p.e': 70}, 'imadul': {'english': 90, 'maths': 56, 'hindi': 85, 'science': 95, 'social': 89, 'p.e': 90}, 'yesh tiwari': {'english': 78, 'maths': 46, 'hindi': 89, 'science': 55, 'social': 79, 'p.e': 80}}])

In [297]:
report['class10']['imadul'].values()

dict_values([90, 56, 85, 95, 89, 90])

In [298]:
print(report['class10'].values())

dict_values([{'english': 90, 'maths': 56, 'hindi': 85, 'science': 95, 'social': 89, 'p.e': 90}, {'english': 50, 'maths': 55, 'hindi': 45, 'science': 55, 'social': 55, 'p.e': 78}, {'english': 90, 'maths': 56, 'hindi': 55, 'science': 45, 'social': 79, 'p.e': 67}, {'english': 99, 'maths': 96, 'hindi': 75, 'science': 75, 'social': 89, 'p.e': 70}, {'english': 90, 'maths': 56, 'hindi': 85, 'science': 95, 'social': 89, 'p.e': 90}, {'english': 78, 'maths': 46, 'hindi': 89, 'science': 55, 'social': 79, 'p.e': 80}])

In [299]:
movies =  {
    '3 idiots': 'a story about 3 idiots frnds',
    'lunchbox': 'a story about a lunchbox',
    'dungle': 'a story about a dungle',
    'pk': 'a story about a pk',
    'taare zameen par': 'a story about a dyslexic child',
}

In [300]:
movies.items()

dict_items([('3 idiots', 'a story about 3 idiots frnds'), ('lunchbox', 'a story about a lunchbox'), ('dungle', 'a story about a dungle'), ('pk', 'a story about a pk'), ('taare zameen par', 'a story about a dyslexic child')])

In [301]:
for k,v in movies.items():
    #print(k,v)
    print(f'{k:20} {v}')

3 idiots             a story about 3 idiots frnds
lunchbox             a story about a lunchbox
dungle               a story about a dungle
pk                   a story about a pk
taare zameen par     a story about a dyslexic child

In [302]:
isinstance(report['class10'], dict)

True

In [303]:
for cls , students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(subjects,dict):
                for subject,marks in subjects.items():
                    print(' ->',subject,'=',marks)

class10
-> rohan
 -> english = 90
 -> maths = 56
 -> hindi = 85
 -> science = 95
 -> social = 89
 -> p.e = 90
-> mohit
 -> english = 50
 -> maths = 55
 -> hindi = 45
 -> science = 55
 -> social = 55
 -> p.e = 78
-> shreya
 -> english = 90
 -> maths = 56
 -> hindi = 55
 -> science = 45
 -> social = 79
 -> p.e = 67
-> mazahir
 -> english = 99
 -> maths = 96
 -> hindi = 75
 -> science = 75
 -> social = 89
 -> p.e = 70
-> imadul
 -> english = 90
 -> maths = 56
 -> hindi = 85
 -> science = 95
 -> social = 89
 -> p.e = 90
-> yesh tiwari
 -> english = 78
 -> maths = 46
 -> hindi = 89
 -> science = 55
 -> social = 79
 -> p.e = 80

In [310]:
for cls , students in report.items():
    print(cls)
    if isinstance(students,dict):
        for name,subjects in students.items():
            print('->',name)
            if isinstance(subjects,dict):
                total = sum(subjects.values())
                print('total-->',total)
                print('average-->',total//6)

class10
-> rohan
total--> 505
average--> 84
-> mohit
total--> 338
average--> 56
-> shreya
total--> 392
average--> 65
-> mazahir
total--> 504
average--> 84
-> imadul
total--> 505
average--> 84
-> yesh tiwari
total--> 427
average--> 71