In [2]:
def adder (a,b,c):
    ans = a + b +c 
    return ans

In [3]:
adder(13,57,77)

147

In [4]:
def multiplier(a , b ,c):
    ans = a*b*c
    return ans

In [5]:
multiplier(6,4,5)

120

In [6]:
def cir (t):
    area = 3.14*pow(t,2)
    return area

cir(3)

28.26

In [7]:
#type of function  in the  basis of perameters
#-> required arguments
#-> named arguments
#-> default argments
#-> variable arguments
#-> keywords arguments

In [8]:
def hyp (p , b):
    h =(p**2 + b**2)**0.5
    return h

hyp(18,7)

19.313207915827967

In [9]:
hyp (10,45)

46.09772228646444

In [10]:
def multiplier(a,b,c,d):
    return a*b*c*d

In [11]:
multiplier(c=12,a=1,b=2,d=3)
multiplier(10,11,d=12,c=10)

13200

In [12]:
def multiplier(a,b, c=1 , d=1):
    return a*b*c*d

In [13]:
print(multiplier(10,20))

200

In [14]:
def multiplierv3(*data):
    result = 1
    for i in data:
        result = result * i
    return result

In [15]:
print(multiplierv3(2,6))
print(multiplierv3())
print(multiplierv3(2,2,2,2,2,2,2))

12
1
128

In [16]:
def names(**items):
    for key , values in items.items():
        print(key, values)

In [17]:
names(names1='join', names2='jana', names3='jack')

names1 join
names2 jana
names3 jack

In [18]:
#generator function

def generate(start, stop):
    for i in range(start,stop):
        yield(i)

In [19]:
list(generate(1,15))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [20]:
for i in range(1,14):
    print(i,end='')

1,2,3,4,5,6,7,8,9,10,11,12,13,

In [21]:
def otp_generator():
    import random
    for i in range(7):
        yield str(random.randint(0,8))

In [22]:
"".join(list(otp_generator()))

'3811881'

In [23]:
f = lambda x: x**2 + 10 * x + 20

In [24]:
f(5)

95

In [25]:
g = lambda x, y: x**2 + y**2 + 10*x*y

In [26]:
g(31,12) + f(5)

4920

In [27]:
si = lambda p, r, t:p*r*t/100

In [28]:
si(1000,10,2)

200.0

map and filter 
mapping - to perform a function on each elements of a sequence
filter - to extract elements from a sequence based on a condion

In [2]:
x = [2,1,14,10,16,15,13]
f = lambda i: i**2 + 10*i + 20
list(map(f, x))

[44, 31, 356, 220, 436, 395, 319]

In [4]:
# square of all value
print(x)
list(map(lambda i:i**2, x))

[2, 1, 14, 10, 16, 15, 13]

[4, 1, 196, 100, 256, 225, 169]

In [6]:
list(map(int ,input('enter some value').split()))

[34, 34, 23, 56, 76, 45, 45, 33]

In [7]:
x = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda i: i>5, x))

[6, 7, 8, 9, 10]

In [8]:
list (filter(lambda i:i%2==0, x))

[2, 4, 6, 8, 10]

In [11]:
names = ['john','Alex','jane','jack','jill','mary','sam']
list(filter(lambda i:'a' in i.lower(),names))

['Alex', 'jane', 'jack', 'mary', 'sam']

file handling

In [13]:
# reading a file (text file)
file = open('t1.py')
print(file.read())
file.close()

from turtle import * #
speed('slowest')

fd(100)
lt(72)
fd(100)
lt(72)
fd(100)
lt(72)
fd(100)
lt(72)
fd(100)
lt(72)
bk()
rt()


mainloop()

In [14]:
# auto close methods 
#with - it is used to handle closing of ant resource automatically
with open('t1.py') as file:
    print(file.read())

from turtle import * #
speed('slowest')

fd(100)
lt(72)
fd(100)
lt(72)
fd(100)
lt(72)
fd(100)
lt(72)
fd(100)
lt(72)
bk()
rt()


mainloop()

In [15]:
sample_data = """name,age,city
john,20,mumbai
alex,24,lucknow
hero,33,kanpur
good,22,raibareli"""
print(sample_data)

name,age,city
john,20,mumbai
alex,24,lucknow
hero,33,kanpur
good,22,raibareli

In [16]:
with open('data.txt', 'w') as f:
    f.write(sample_data)

In [18]:
with open('data.txt') as file:
    print(file.read())

name,age,city
john,20,mumbai
alex,24,lucknow
hero,33,kanpur
good,22,raibareli

In [20]:
import os 
os.makedirs ('files',exist_ok=True)

In [22]:
with open ('files/data.txt', 'w') as f:
    f.write(sample_data)