In [222]:
def adder (a,b,c):
    ans = a + b +c 
    return ans

In [223]:
adder(13,57,77)

147

In [224]:
def multiplier(a , b ,c):
    ans = a*b*c
    return ans

In [225]:
multiplier(6,4,5)

120

In [226]:
def cir (t):
    area = 3.14*pow(t,2)
    return area

cir(3)

28.26

In [227]:
#type of function  in the  basis of perameters
#-> required arguments
#-> named arguments
#-> default argments
#-> variable arguments
#-> keywords arguments

In [228]:
def hyp (p , b):
    h =(p**2 + b**2)**0.5
    return h

hyp(18,7)

19.313207915827967

In [229]:
hyp (10,45)

46.09772228646444

In [230]:
def multiplier(a,b,c,d):
    return a*b*c*d

In [231]:
multiplier(c=12,a=1,b=2,d=3)
multiplier(10,11,d=12,c=10)

13200

In [232]:
def multiplier(a,b, c=1 , d=1):
    return a*b*c*d

In [233]:
print(multiplier(10,20))

200

In [234]:
def multiplierv3(*data):
    result = 1
    for i in data:
        result = result * i
    return result

In [235]:
print(multiplierv3(2,6))
print(multiplierv3())
print(multiplierv3(2,2,2,2,2,2,2))

12
1
128

In [236]:
def names(**items):
    for key , values in items.items():
        print(key, values)

In [237]:
names(names1='join', names2='jana', names3='jack')

names1 join
names2 jana
names3 jack

In [238]:
#generator function

def generate(start, stop):
    for i in range(start,stop):
        yield(i)

In [239]:
list(generate(1,15))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [240]:
for i in range(1,14):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [241]:
def otp_generator():
    import random
    for i in range(7):
        yield str(random.randint(0,8))

In [242]:
"".join(list(otp_generator()))

'6203842'

In [243]:
f = lambda x: x**2 + 10 * x + 20

In [244]:
f(5)

95

In [245]:
g = lambda x, y: x**2 + y**2 + 10*x*y

In [246]:
g(31,12) + f(5)

4920

In [247]:
si = lambda p, r, t:p*r*t/100

In [248]:
si(1000,10,2)

200.0