In [9]:
name = " imadul hasan"
age = 20
city = "lucknow" 

print (name)
print (age)
print (city)

 imadul hasan
20
lucknow

In [11]:
print ('your name is',name,'your are',age,'yours old and you live in',city)
print (name, age ,city)

your name is  imadul hasan your are 20 yours old and you live in lucknow
 imadul hasan 20 lucknow

In [12]:
per = 10
base = 15   
hyp = (per**2 + base**2)**0.5
print ('hypotenuse is',round(hyp,2))

hypotenuse is 18.03

In [13]:
'hello base'

'hello base'

In [15]:
 f'hello {base} years old boy'

'hello 15 years old boy'

In [16]:
print(f'name:{name},age:{age},city:{city}')

name: imadul hasan,age:20,city:lucknow

In [2]:
import math
r = 20 
circumference = 2*math.pi*r
print (f'ans ={circumference:.1f}')
print (f'ans ={round(circumference,4)}')

ans =125.7
ans =125.6637

In [19]:
input('what is your name')

'imadul'

In [20]:
name = input ('what is your name?')
print ( "oh ,so your name is",name)

oh ,so your name is imadul hasan

In [32]:
x = int(input('enter your number'))
y = int(input('enter another number'))
print(x+y)

70

In [1]:
int(100)

100

In [3]:
x = 50.00
str(x)

'50.0'

In [2]:
h = 'hello'