In [3]:
x = 'iceland'
for i in x:
    print(i)

i
c
e
l
a
n
d

In [2]:
y =  29089756458588    #if are you using code then its work
for i in y:
    print()

TypeError: 'int' object is not iterable

In [3]:
fruits = ['apple','banana','mango','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have mango
i have lemon

In [10]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [11]:
for h in range(2,20,2):
    print(h)

2
4
6
8
10
12
14
16
18

In [14]:
for j in range(10,0,-1):
    print(j)

10
9
8
7
6
5
4
3
2
1

In [16]:
total = 0 
for i in range(1,501):
    total +=i
print(total)

125250

In [1]:
for i in range(6):
    print('hello')

hello
hello
hello
hello
hello
hello

In [4]:
xx=1
while xx<=5:
    print('hello')
    xx+=1

hello
hello
hello
hello
hello

In [8]:
total=0 
num=1
while num<=10:
    total+=num
    num+=1
print("sum",total)

sum 55

In [10]:
for i in range(1,10):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [11]:
for i in range(1,10):
    if i==6:
        continue
    print(i)

1
2
3
4
5
7
8
9

In [26]:
num = 1
while num<=15:
    if num ==5:
        break
    print(num)
    num+=1

1
2
3
4

In [32]:
num=1 
while num<=10:
    if num==5:
       num+=1
       continue
    print(num)
    num+=1

1
2
3
4
6
7
8
9
10

In [39]:
b = 1
while b<=10:
    if b%2==0:    
        b+=1    
        continue
    print(b)
    b+=1

1
3
5
7
9

In [41]:
num=2 
while num<=10:
    print(num)
    num+=2

2
4
6
8
10

In [2]:
hell=20
while hell>=2:
    print(hell)
    hell-=2

20
18
16
14
12
10
8
6
4
2