In [1]:
a = 'hello'
b = "hola"
c = '''this is 
a multiline 
message from
the past'''

In [8]:
print('this is a \'important\' message')
print("this is a 'important' message")

this is a 'important' message
this is a 'important' message

In [9]:
name = input('enter your name')
print(name)

imadul hasan

In [10]:
x= str(56584656)
print(x)

56584656

In [28]:
name = 'vijay deenanath chauhan'
print(name[0])
print(name[-1])
print(name[:5])
print(name[6:15])
print(name[-7:])
print(name[::-1])
print(name[::2])

v
n
vijay
deenanath
chauhan
nahuahc htananeed yajiv
vjydeaahcahn

In [29]:
msg = 'Journey Before Destination'
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.casefold())
print(msg.swapcase())

JOURNEY BEFORE DESTINATION
journey before destination
Journey Before Destination
Journey before destination
journey before destination
jOURNEY bEFORE dESTINATION

In [39]:
print(f'{msg:^30}')

  Journey Before Destination

In [41]:
print(msg.center(100, '~'))
print(msg.ljust(100))
print(msg.rjust(100))

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Journey Before Destination~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Journey Before Destination
                                                                          Journey Before Destination

In [40]:
print('num pow result')
for i in range(1,20):
    #print(i**2)
    print(f'{i:<3} {2:<4} {i**2:<6}')

num pow result
1   2    1
2   2    4
3   2    9
4   2    16
5   2    25
6   2    36
7   2    49
8   2    64
9   2    81
10  2    100
11  2    121
12  2    144
13  2    169
14  2    196
15  2    225
16  2    256
17  2    289
18  2    324
19  2    361

In [43]:
a = 'what'
print(a.isalpha())
print(a.isalnum())
print(a.isnumeric())

True
True
False

In [45]:
num1 = input('enter a  number')
if num1.isalpha():
    print('we dont want alphabets') 
elif num1.isnumeric():
    print('good job')
    num1 =int(num1)

we dont want alphabets

In [53]:
name = 'Er.watson'
if name.startswith('mr.'):
    print('hello mister')
elif name.startswith('dr.'):
    print('hello doctor')
elif name.startswith('Er.'):
    print('hello engineer')

hello engineer

In [51]:
msg.split()

['Journey', 'Before', 'Destination']

In [52]:
data = '1-0,2-0,4-0,7-0,6-7'
score = data.split(',')
print(score)

['1-0', '2-0', '4-0', '7-0', '6-7']

In [54]:
user_value = input('enter your seperated by')
print(user_value.split(','))

['1', '4', '2', '6', '8', '6']

In [55]:
value = [ 'hello','joy','what','are','you','doing']
" ".join(value)

'hello joy what are you doing'

In [18]:
h = 'hello world'
for i in h:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [19]:
message = 'this is an example , where we are using some words'
message.split()

['this',
 'is',
 'an',
 'example',
 ',',
 'where',
 'we',
 'are',
 'using',
 'some',
 'words']

In [31]:
message.split(',')

['this is an example ', ' where we are using some words']

In [26]:
words = message.split()

In [25]:
words = message.split()
for w in words:
    print(w)

this
is
an
example
,
where
we
are
using
some
words

In [27]:
" ".join(words)

'this is an example , where we are using some words'

In [33]:
print(message.find ('where'))
print(message.find('we'))
print(message.find('ple'))
print(message.find('z'))
print(message.find('a'))
print(message.find('a',9))

21
27
15
-1
8
13

In [34]:
print(message.replace('a','i'))

this is in eximple , where we ire using some words

In [35]:
print(message.replace('an example','a story'))

this is a story , where we are using some words

In [37]:
print(message.replace('an exampple','a story').replace('words','sentences'))

this is an example , where we are using some sentences

In [36]:
print(message)

this is an example , where we are using some words

In [41]:
message = message.replace('an example','a story')
print(message)

this is a story , where we are using some words

In [44]:
poem =('johnny johnny yes papa, eating sugar no papa')
poem.replace('johnny','alex',1)

'alex johnny yes papa, eating sugar no papa'

In [47]:
message = 'this is an example where another example is used to show an example'
message.count('ex')

example is used 3

In [ ]:
ce = message.count('example')
print(f'example is used {ce}')

In [48]:
h = 'hello world'
print(h[::-1])

dlrow olleh

In [50]:
msg = r"to move to newline '\n' is used."
print(msg)

to move to newline '\n' is used.

In [52]:
msg = "to move to newline '\\n' is used"
print(msg)

to move to newline '\n' is used

In [53]:
text ='     this is not a good string           '
text = text.strip()
print(text)

this is not a good string

In [2]:
unin = input('enter a string')
for char in unin:
    if char.isupper():
        print('found')
        break

found

In [4]:
from string import punctuation
text = input('enter a string:')
for char in punctuation:
    text = text.replace(char,'')
print(text)

hello brp what are you doing

In [8]:
names = 'joe, david, mark, tom, chris , robert'
namelist = names.split(', ')
print(namelist)

['joe', 'david', 'mark', 'tom', 'chris ', 'robert']

In [9]:
text = 'this is sone text'
result = " ".join([word+'aye' for word in text.split()])
print(result)

thisaye isaye soneaye textaye

In [13]:
para = ' this is a nice job you doing . nice to meet you brother ya its great'
words = para.split()
print(words)
lengths = [len (word) for word in words]
print(lengths)
print(sum(lengths)/len(lengths))

['this', 'is', 'a', 'nice', 'job', 'you', 'doing', '.', 'nice', 'to', 'meet', 'you', 'brother', 'ya', 'its', 'great']
[4, 2, 1, 4, 3, 3, 5, 1, 4, 2, 4, 3, 7, 2, 3, 5]
3.3125