In [5]:
a = 'hello'
b = "hola"
c = '''this is 
a multiline 
message from
the past'''

In [8]:
print('this is a \'important\' message')
print("this is a 'important' message")

this is a 'important' message
this is a 'important' message

In [9]:
name = input('enter your name')
print(name)

imadul hasan

In [10]:
x= str(56584656)
print(x)

56584656

In [28]:
name = 'vijay deenanath chauhan'
print(name[0])
print(name[-1])
print(name[:5])
print(name[6:15])
print(name[-7:])
print(name[::-1])
print(name[::2])

v
n
vijay
deenanath
chauhan
nahuahc htananeed yajiv
vjydeaahcahn

In [29]:
msg = 'Journey Before Destination'
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.casefold())
print(msg.swapcase())

JOURNEY BEFORE DESTINATION
journey before destination
Journey Before Destination
Journey before destination
journey before destination
jOURNEY bEFORE dESTINATION

In [39]:
print(f'{msg:^30}')

  Journey Before Destination

In [41]:
print(msg.center(100, '~'))
print(msg.ljust(100))
print(msg.rjust(100))

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Journey Before Destination~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Journey Before Destination
                                                                          Journey Before Destination

In [40]:
print('num pow result')
for i in range(1,20):
    #print(i**2)
    print(f'{i:<3} {2:<4} {i**2:<6}')

num pow result
1   2    1
2   2    4
3   2    9
4   2    16
5   2    25
6   2    36
7   2    49
8   2    64
9   2    81
10  2    100
11  2    121
12  2    144
13  2    169
14  2    196
15  2    225
16  2    256
17  2    289
18  2    324
19  2    361

In [43]:
a = 'what'
print(a.isalpha())
print(a.isalnum())
print(a.isnumeric())

True
True
False

In [45]:
num1 = input('enter a  number')
if num1.isalpha():
    print('we dont want alphabets') 
elif num1.isnumeric():
    print('good job')
    num1 =int(num1)

we dont want alphabets

In [53]:
name = 'Er.watson'
if name.startswith('mr.'):
    print('hello mister')
elif name.startswith('dr.'):
    print('hello doctor')
elif name.startswith('Er.'):
    print('hello engineer')

hello engineer

In [51]:
msg.split()

['Journey', 'Before', 'Destination']

In [52]:
data = '1-0,2-0,4-0,7-0,6-7'
score = data.split(',')
print(score)

['1-0', '2-0', '4-0', '7-0', '6-7']

In [54]:
user_value = input('enter your seperated by')
print(user_value.split(','))

['1', '4', '2', '6', '8', '6']

In [55]:
value = [ 'hello','joy','what','are','you','doing']
" ".join(value)

'hello joy what are you doing'